.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
label:not(.exp){
	font-size:20px;
	font-family:'Libre Baskerville';
    flex: 0 0 150px;
    margin-right: 10px;
    text-align: right;
}

input:not(.exp){
	flex: 0 0 280px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.exp{

}