.title{
	color:gray;
	font-family:'Libre Baskerville';
}
.navbar{
	font-family:'Libre Baskerville';
	color:white;
	margin-left:50px;
}
.onhead{
	font-size:1.9em;
	display: inline;
	color:white;
	background-color:#1f1e33;
  	align-items: center;
  	width: 100%;
  	position:sticky;
  	top:0;
}
.imgctrl{
	margin-left:10px;
	float:left;
	position:sticky;
	top:0;
}
.slogan{
	font-family:'Libre Baskerville';
	background-color:red;
	color:white;
	text-align:center;
}
#intro{
	font-size:200%;
}
.info{
	font-family:'Libre Baskerville';
	background-color:gray;
}
.annonce{
	padding: 5px 10px 5px 10px;
	width: 550px;
	height:165px;
	float:left;
	border: black 2px solid;
	box-shadow: 2px 3px;
}
.bbintro{
	float:left;
}
.navbar:hover{
	background-color:white;
	color:black;
}